/* .info-box {
    position: relative;
    height: 100px;
    width: 100px;
    margin:10rem;
    align-content: flex-start;
} */
.name-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}